// PlaceOrder.scss

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .order-details {
    text-align: left;
  }
  
  .order-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .summary-details {
    margin-bottom: 20px;
  }
  
  .summary-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .print-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media print {
    .modal-overlay.printable {
      background: none;
      box-shadow: none;
    }
  
    .modal {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: visible;
      box-shadow: none;
      padding: 0;
    }
  
    .close-btn,
    .print-btn {
      display: none;
    }
  }
  