@import "../../styles/global.scss";

.productlist-section {
  display: flex;
  position: relative;
  bottom: 20rem;
}

.product-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-item {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {
    margin-top: 10px;
    font-size: 1.4em;
  }

  p {
    font-weight: bold;
    margin-top: 5px;
  }

  .add-to-cart-button {
    display: none; /* Hide the button by default */
    margin-top: 10px;
    background-color: #ffcc18;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #ffc000;
    }
  }

  &:hover {
    .add-to-cart-button {
      display: block; /* Display the button on hover */
    }
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &.active {
      background-color: #ffcc18;
      color: black;
    }
  }
}

@media (max-width: 768px) {
  .product-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-item {
    width: 100%;
  }
}
