// about.scss
@import "./global.scss";

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 10rem;
    z-index: -100;

  .frame-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

    .text-content {
      flex: 1;
      padding: 0 20px;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
      }
    }

    .image-container {
      flex: 1;
      text-align: center;
    }
  }

 .videolist-section {
    text-align: center;
    margin-top: 50px;

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .video-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  }
}

section.videolist-section {
    display: flex;
    position: relative;
    top: 35rem;
    align-items: center;
    flex-direction: column;
}

.about-section .frame-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.frame-1,
.frame-2 {
  max-width: 100%;
  height: auto;
}

