@import "../../styles/global.scss";

.Header_header__content__logo__Ia4Is {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 15px;
  bottom: 0;
  width: 120px;
  height: 120px;
}

.video-holder {
  border: none;
  width: 100%;
  height: 65%;
  position: absolute;
  left: 0px;
  top: 4rem;
  overflow: hidden;
  z-index: -100;
}

.home-banner-text {
  color: #fff;
  font-size: 3em;
  margin-bottom: 10px;
  position: absolute;
  left: 3rem;
  top: 7rem;
  display: flex;
  align-items: center;
  padding: 0;
}

.home-banner-subtext {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  margin-top: 7em;
  margin-left: 26px;
  position: absolute;
  color: #fff;
  justify-content: center;
}

.container-text {
  display: flex;
  position: relative;
  top: 0;
}

h4 {
  margin: 0.5rem 0;
  position: relative;
  text-align: center;
  bottom: 23em;
  left: 18em;
  font-size: 25px;
  color: #fff; // Adjust as needed for spacing
}

h5 {
  margin: 0.5rem 0;
  position: relative;
  text-align: center;
  bottom: 26em;
  left: 30em;
  font-size: 25px;
  color: #fff; // Adjust as needed for spacing
}

h5.home-banner-merchtext {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 2rem;
  left: 24rem;
}

.image-gallery {
  position: relative;
  top: 55rem;
  z-index: -1;
}

iframe {
  border: none;
  width: 100%;
  height: 128vh;
  position: relative;
  left: 0px;
  top: -18rem;
  overflow: hidden;
  z-index: -100;
}

.footer-image {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 22rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shop-here {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 32rem;
  left: 12rem;
  padding: 0;
  margin: 0;
}

.ninjastar-image {
  width: 28%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  bottom: 32rem;
  left: 25px;
}

.gif-container {
  top: 12rem;
  left: 25rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  position: relative;
}

.gif-image {
  height: auto;
  width: 185px;
  z-index: 1;
}

.productlist-section {
  display: flex;
  position: relative;
  top: 20rem;

  .product-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 25rem;
  }
}

.video-play {
  display: flex;
  position: absolute;
  top: 13rem;
  left: 7rem;
  font-size: 12px;
  font-family: "Grandstander";
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  margin: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease all;

  &:hover {
    border-color: #fde767;
    background: #9f8d29;
    color: #fde767;
  }
}

// Additional styles for responsiveness

// @media only screen and (min-width: 280px) {
// }

// @media only screen and (min-width: 360px) {
// }

// @media only screen and (min-width: 375px) {
//   .container {
//     display: block;
//   }

//   .home-banner-text {
//     font-size: 1.5em; /* Adjust font size for smaller screens */
//   }

//   .home-banner-merchtext {
//     font-size: 1.2em;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     position: relative;
//     bottom: 25rem;
//     left: 30rem;
//   }

//   .Header_header__content__logo__Ia4Is {
//     font-size: 2rem;
//     font-weight: bold;
//     text-decoration: none;
//     color: #fff;
//     position: relative;
//     top: 15px;
//     bottom: 0;
//     width: 120px;
//     height: 120px;
//   }

//   .home-banner-text {
//     color: #fff;
//     font-size: 2em;
//     margin-bottom: 10px;
//     position: absolute;
//     left: 70px;
//     top: 202px;
//     display: flex;
//     padding: 0;
//     align-items: center;
//   }
//   .home-banner-subtext {
//     display: flex;
//     font-size: 20px;
//     align-items: center;
//     margin-top: 13em;
//     margin-left: 3em;
//     position: absolute;
//     color: #fff;
//     justify-content: center;
//   }

//   .footer-content {
//     display: flex;
//     justify-content: space-around;
//     margin: 0 auto;
//     flex-direction: column;
//   }

//   .footer-section {
//     text-align: center;
//     margin: 17px;
//   }

//   .footer {
//     background-color: #333;
//     color: white;
//     padding: 20px 0;
//     position: relative;
//     top: 71rem;
//     display: block;
//   }

//   .footer-image {
//     width: 100%;
//     height: 130px;
//     position: relative;
//     bottom: 16rem;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//   }

//   .ninjastar-image {
//     width: 25%;
//     height: 65px;
//     position: relative;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     bottom: 22rem;
//     left: 25px;
//   }

//   .productlist-section {
//     display: flex;
//     position: relative;
//     bottom: 20rem;
//     top: 25rem;
//   }

//   .shop-here {
//     display: flex;
//   }

//   .gif-container {
//     font-size: 1.2em;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     position: relative;
//     bottom: -12rem;
//     height: auto;
//     width: 50px;
//     left: 40rem;
//   }

//   .home-banner-merchtext {
//     font-size: 1.2em;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     position: relative;
//     bottom: 26rem;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     left: 34rem;
//   }

//   .gif-image {
//     height: 100%;
//     width: 121px;
//     display: flex;
//     z-index: 1;
//     position: relative;
//     top: 155px;
//     left: 85px;
//   }

//   .video-play.active {
//     border-color: $primary-color;
//     background: rgba($primary-color, 0.1);
//     color: $primary-color;
//   }

//   .video-holder {
//     border: none;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0px;
//     top: -3rem;
//     overflow: hidden;
//     z-index: -100;
//   }

//   .image-gallery {
//     display: block;
//     height: 0;
//     margin-bottom: 0;
//     position: relative;
//     padding: 0;
//     top: 45rem;
//     z-index: -1;
//     height: 100px;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 1023px) {
//   .home-banner-text {
//     color: #fff;
//     font-size: 5em;
//     margin-bottom: 10px;
//     margin-left: 15px;
//     position: absolute;
//     display: flex;
//     padding: 0;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 10px;
//   }

//   .home-banner-subtext {
//     display: flex;
//     font-size: 2em;
//     align-items: center;
//     margin-top: 10em;
//     margin-left: 2.5em;
//     position: absolute;
//     color: #fff;
//     justify-content: center;
//   }

//   .container-text {
//     display: flex;
//     position: relative;
//     top: 50px;
//   }

//   h4 {
//     margin: 0.5rem 0;
//     position: relative;
//     text-align: center;
//     bottom: 23em;
//     left: 18em;
//     font-size: 25px;
//     color: #fff; // Adjust as needed for spacing
//   }

//   h5 {
//     margin: 0.5rem 0;
//     position: relative;
//     text-align: center;
//     bottom: 26em;
//     left: 30em;
//     font-size: 25px;
//     color: #fff; // Adjust as needed for spacing
//   }

//   .image-gallery {
//     bottom: 0;
//     display: block;
//     height: 0;
//     margin-bottom: 0;
//     position: relative;
//     padding: 0;
//     top: 0;
//     z-index: -1;
//   }

//   .footer-image {
//     width: 100%;
//     height: 225px;
//     position: relative;
//     bottom: 18rem;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap; /* Wrap images to the next line on smaller screens */
//   }

//   .video-holder {
//     border: none;
//     width: 100%;
//     height: 140%;
//     position: absolute;
//     left: 0px;
//     top: -5rem;
//     overflow: hidden;
//     z-index: -100;
//   }

//   .image-gallery {
//     display: block;
//     height: 0;
//     margin-bottom: 0;
//     position: relative;
//     padding: 0;
//     top: 70rem;
//     z-index: -1;
//   }

//   .shop-here {
//     display: flex;
//     position: relative;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     bottom: 8rem;
//   }

//   .footer-content {
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     flex-direction: row;
//     align-items: center;
//   }

//   .ninjastar-image {
//     width: 20%;
//     height: 120px;
//     position: relative;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     bottom: 28rem;
//     left: 55px;
//   }

//   button.shop-button {
//     display: flex;
//     position: absolute;
//     bottom: 23rem;
//     right: 21rem;
//   }

//   .gif-container {
//     top: 35rem;
//     display: flex;
//     justify-content: flex-end;
//     margin-bottom: 0;
//     position: relative;
//     left: 80rem;
//   }

//   .gif-image {
//     height: auto;
//     width: 285px;
//     z-index: 1;
//   }

//   .productlist-section {
//     display: flex;
//     position: relative;
//     bottom: 20rem;
//     top: 51rem;
//   }

//   .video-play {
//     display: flex;
//     position: absolute;
//     top: 27rem;
//     left: 11rem;
//     font-size: 1.75rem;
//     font-family: "Grandstander";
//     outline: none;
//     padding: 0.75rem 1.25rem;
//     border-radius: 12px;
//     margin: 10px;
//     border: 1px solid transparent;
//     transition: 0.3s ease all;

//     &:hover {
//       border-color: #fde767;
//       background: #fde767;
//       color: #fde767;
//     }
//   }
// }

@media only screen and (max-width: 1024px) and (min-width: 720px) {
  .Header_header__content__logo__Ia4Is {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 15px;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 1000;
  }

  .home-banner-text {
    font-size: 35px;
    position: absolute;
    top: 8rem;
    left: 8rem;
  }

  .home-banner-subtext {
    font-size: 15px;
    margin-top: 12em;
    margin-left: 10em;
  }

  .productlist-section {
    position: relative;
    top: 34rem;
    margin-top: 30rem;
  }
  .product-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .video-play {
    position: relative;
    top: 15rem;
    left: 7wem;
    width: 250px;
    height: 50px;
  }

  .video-holder {
    border: none;
    width: 100%;
    height: 118%;
    position: absolute;
    left: 0px;
    top: 4rem;
    overflow: hidden;
    z-index: -100;
  }

  .gif-container {
    bottom: 30rem;
    right: 2rem;
    top: 33rem;

    .gif-image {
      height: auto;
      width: 150px;
      z-index: 1;
    }
  }

  .ninjastar-image {
    width: 25%;
    height: 110px;
    top: 27rem;
  }

  .footer-image {
    width: 100%;
    height: 130px;
    position: relative;
    top: 35rem;
    bottom: 18rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    top: 45rem;
  }

  .shop-here {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 117px;
    top: 25rem;
  }

  h4 {
    margin: 0.5rem 0;
    position: relative;
    text-align: center;
    bottom: 23em;
    left: 18em;
    font-size: 25px;
    color: #fff; // Adjust as needed for spacing
  }

  h5 {
    margin: 0.5rem 0;
    position: relative;
    text-align: center;
    bottom: 26em;
    left: 30em;
    font-size: 25px;
    color: #fff; // Adjust as needed for spacing
  }

  h5.home-banner-merchtext {
    display: flex;
    position: relative;
    top: -33px;
    left: 14rem;
    justify-content: center;
    align-items: center;
  }

  button.shop-button {
    display: flex;
    position: relative;
    left: 50px;
  }

  .image-gallery {
    bottom: 0;
    display: block;
    height: 0;
    margin-bottom: 0;
    position: relative;
    padding: 0;
    top: 26rem;
    z-index: -1;
  }
}

@media only screen and (min-width: 1920px) {
  .Header_header__content__logo__Ia4Is {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 15px;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 1000;
  }

  .home-banner-text {
    color: #fff;
    font-size: 5em;
    margin-bottom: 10px;
    margin-left: 15px;
    position: absolute;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .home-banner-subtext {
    display: flex;
    font-size: 2em;
    align-items: center;
    margin-top: 12em;
    margin-left: 3.5em;
    position: absolute;
    color: #fff;
    justify-content: center;
  }

  .container-text {
    display: flex;
    position: relative;
    top: 50px;
  }

  .video-holder {
    border: none;
    width: 100%;
    height: 118%;
    position: absolute;
    left: 0px;
    top: 4rem;
    overflow: hidden;
    z-index: -100;
  }

  h4 {
    margin: 0.5rem 0;
    position: relative;
    text-align: center;
    bottom: 23em;
    left: 18em;
    font-size: 25px;
    color: #fff; // Adjust as needed for spacing
  }

  h5 {
    margin: 0.5rem 0;
    position: relative;
    text-align: center;
    bottom: 26em;
    left: 30em;
    font-size: 25px;
    color: #fff; // Adjust as needed for spacing
  }

  .image-gallery {
    bottom: 0;
    display: block;
    height: 0;
    margin-bottom: 0;
    position: relative;
    padding: 0;
    top: 0;
    z-index: -1;
  }

  .footer-image {
    width: 100%;
    height: 225px;
    position: relative;
    bottom: 18rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .image-gallery {
    display: block;
    height: 0;
    margin-bottom: 0;
    position: relative;
    padding: 0;
    top: 70rem;
    z-index: -1;
  }

  .shop-here {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 8rem;
  }
  .ninjastar-image {
    width: 20%;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    bottom: 28rem;
    left: 55px;
  }

  button.shop-button {
    display: flex;
    position: absolute;
    bottom: 23rem;
    right: 21rem;
  }

  .gif-container {
    top: 35rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    position: relative;
    left: 105rem;
  }

  .gif-image {
    height: auto;
    width: 285px;
    z-index: 1;
  }

  .productlist-section {
    display: flex;
    position: relative;
    bottom: 20rem;
    top: 51rem;
  }

  .video-play {
    display: flex;
    position: absolute;
    top: 29rem;
    left: 10rem;
    font-size: 1.75rem;
    font-family: "Grandstander";
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease all;

    &:hover {
      border-color: #fde767;
      background: #fde767;
      color: #fde767;
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
}
