.video-carousel {
    width: 80%;
    margin: auto;
  
    .slick-prev,
    .slick-next {
      font-size: 24px;
      color: white;
    }
  
    .slick-prev {
      left: -30px;
    }
  
    .slick-next {
      right: -30px;
    }
  }
  