section.checkout-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  height: calc(100vh - 40px);
  background: darkkhaki;
  width: 80%;
}

.checkout-container-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  height: calc(100vh - 40px);
  background: rgb(255, 250, 181);
  width: 80%;
}

.contact-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 80%;
}

.contact-info,
.checkout-form,
.links-section {
  margin-bottom: 20px;
}

.contact-info button,
.checkout-form button,
.links-section button {
  margin-top: 10px;
}

.checkout-form input,
.checkout-form select,
.checkout-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form label {
  display: block;
  margin-bottom: 10px;
}

input.subscribed-checkbox {
  align-content: center;
  padding: 0;
  margin: 0;
  width: 20px;
}

label.subscribed {
  display: flex;
}

label.subscribed {
  display: flex;
  position: relative;
  right: 6rem;
}

.shipping-address {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.city-state-zip {
  display: flex;
  gap: 10px;
}

.checkout-navigation button {
  margin-right: 10px;
  justify-content: space-between;
}

.email-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.scrollable-section {
  overflow-y: auto; /* Add overflow-y: auto */
  height: calc(
    100% - 20px
  ); /* Set a height that allows scrolling (checkout-container height - padding) */
}

.product-summary {
  margin-bottom: 20px;
}

.new-product-list {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 300px; /* Set a maximum height for the product list */
}

.product-item-summary {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
}

.product-item-summary img {
  width: 100px; /* Set width to 30px */
  height: 100px; /* Set height to 30px */
  margin-right: 10px; /* Add some margin for spacing */
  margin-top: 10px;
}

.subtotal,
.shipping-info,
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subtotal span,
.shipping-info span,
.total span {
  font-weight: bold;
}

.links-section {
  display: flex; /* Align buttons in a row */
  justify-content: center; /* Center buttons horizontally */
}

.links-section button {
  text-decoration: underline; /* Underline the text */
  margin: 0 10px; /* Add some margin between buttons */
  background-color: transparent; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer;
  padding: 10px;
}

.fixed-section {
  margin: 15px;
}

.delivery-label {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 20px;
}

.shipping-header {
  display: block;
}

.options {
  display: block;
  width: 100%;
  padding: 8px;
  color: black;
  font-size: 16px;
}

select.shipping-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: 14rem;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button.return-btn {
  background: none;
  font-size: 12px;
  margin: 0;
  position: relative;
  left: -20px;
}

button.continue-btn {
  padding: 5px;
  font-size: 15px;
  position: relative;
  left: 130px;
  margin: 5px;
}
